// ======================================================================
// Form
.contact-form {
	margin-top: $space-small;
}

.form-group {
	border-top: 1px solid rgba($black, 0.5);
	&:last-child {
		border-bottom: 1px solid rgba($black, 0.5);	
	}
}

.contact-form .form-group-last {
	border-bottom: 1px solid rgba($black, 0.5);
}

.contact-form label {
	display: block;
	text-transform: uppercase;
	font-family: $font-stack-b;
	font-size: 1vw;
	font-weight: 500;
	line-height: 4vw;
	height: 4vw;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.contact-form label {
		font-size: 3vw;
		line-height: 8vw;
		height: 8vw;
	}
}

.contact-form input, 
.contact-form textarea {
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 7vw;
	height: 7vw;
	outline: 0;
	width: 100%;
	background-color: transparent;
	font-weight: 400;
	font-size: 2vw;
	color: $black;
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: rgba($black, 0.8);
	    opacity: 1; /* Firefox */
	}

	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: $black;
	}

	&::-ms-input-placeholder { /* Microsoft Edge */
	    color: $black;
	}
}

.contact-form textarea {
	padding-top: 3vw;
	line-height: 1;
}


@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.contact-form input,
	.contact-form textarea {
		font-size: 4vw;
		line-height: 16vw;
		height: 16vw;
	}


	.contact-form textarea {
		line-height: 1;
	}
}

.contact-form button {
	background-color: $black;
	color: $white;
	display: block;
	border: 0;
	margin: $space-small 0 $space-medium 0;
	padding: 0;
	line-height: 8vw;
	height: 8vw;
	outline: 0;
	width: 100%;
	font-family: $font-stack-b;
	font-size: 3vw;
	cursor: pointer;
	&:hover {
		background-color: #000;
	}
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.contact-form button {
		font-size: 6vw;
		line-height: 16vw;
		height: 16vw;
	}
}