// ======================================================================
// Landing Page

.page-section {
	position: relative;
}


.page-section .p-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
	will-change: opacity;
	max-width: 1600px;
	margin: 0 auto;
	background-color: $light-grayish-orange;
  }

.page-section .p-header-container {
	display: flex;
	flex-direction: column;
	font-weight: normal;
	
	margin-bottom: $space-small;
	z-index: 2;
	width: calc(100% - 60px);
	border-bottom: 2px solid $dark-green;
}



.page-section .p-header-container h2 {
	font-weight: normal;
    margin-top: $space-medium;
    font-family: $font-stack-b;
	color: $dark-green;
	font-weight: 500;
	font-size: $medium-text/1.4;
}

@include responsive('min-width: #{$width-tablet}') {
	.page-section .p-header-container h2 {
		font-size: $large-text;
		line-height: $large-line-height;
	}
}

.page-section .p-header-container h3 {
	display: flex;
	align-items: center;
	font-weight: normal;
	color: $dark-green;
	order: -1;
	font-size: $small-text;
	svg {
		margin-left: $space-small/2;
		height: 1.8rem;
	}
	padding-bottom: $space-small/2;
	margin-top: $space-small;
	border-bottom: 2px solid $dark-green;
}

// sections common
.content-wrapper {
	width: calc(100% - 60px);
    margin: $space-small/2 auto $space-medium/2 auto;
	max-width: $page-width;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
	.content-wrapper {
		width: auto;
		padding-left: $space-small/2;
		padding-right: $space-small/2;
	}
}

.content-wrapper h2, h3 {
	font-weight: 500;
}

.content-wrapper h2 {
	position: relative;
	color: $black;
	// text-align: center;
	font-family: $font-stack-b;
	font-weight: bold;
	font-size: $medium-text;
}

// Type
.lead {
	font-weight: normal;
	font-size: $medium-text/1.6;
}

.highlight {
	padding: 4px;
	background-color: $pale-red;
	font-size: 150%;
}

@include responsive('min-width: #{$width-tablet}') {
	.grouped-column { 
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

@include responsive('min-width: #{$width-tablet}') {
	.grouped-column-content {
		width: $paragraph;
		font-size: $medium-text;
	}
}

// sections
.what-we-do {
	// background-color: $black;
	// color: $white;
}

.research-findings {
	// background-color: $black;
	// color: $white;
}

.misinfodemic-response-framework-toolkit {
	// background-color: $bright-green;
}

.video {
	h2 { color: $white; }
	background-color: $black;
	color: $white;
}

.press {
	background-color: $vivid-blue;
}

.interested-in-learning-more {
	background-color: $bright-orange;
}