.list {
    text-align: center;
}
.list-wrapper {
    margin: 0 auto;
}

.list-item {
    position: relative;
    text-align: left;
    background-color: $white;
    padding: $space-small/2 0;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
    .list-item {
        border-top: 2px solid $black;
    }
    .list-item:last-child {
        border-bottom: 2px solid $black;
    }
}


@include responsive('min-width: #{$width-tablet}') {
    .list-item {
        padding: $space-small;
        border: 2px solid $black;
        width: 50%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    }

    .list-item:nth-of-type(even) {
        margin-left: 40%;
        z-index: 7;
    }

    .list-item:not(:first-child) {
        margin-top: -20px;
    }

    .list-item:nth-of-type(odd) {
        z-index: 1;
        margin-left: 10%;
    }
}

.list-item .title {
    font-size: $medium-text;
    color: $soft-red;
}