.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.list-item-wrapper {
    display: flex;
    
    
    @include responsive('min-width: #{$width-tablet}') {
        flex: 1 0 50%;
        padding: percentage(1/24);
        // padding-right: $space-small;
    }
    transition: background-color 0.2s;
    &:hover {
        // transform: translate(0, -10px);
        background-color: rgba($soft-red, 0.2);
    }
}

.list-anchor {
    margin-right: $space-small/2;    
    color: transparent;
    &:before {
        display: flex;
        content: '';
        background-color: $soft-red;
        width: 20px;
        height: 20px;
    }
}

.list-item .title {
    font-weight: 500;
    color: $soft-red;
}