.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.list-item-wrapper {
    display: flex;
    margin-bottom: $space-small;
    
    @include responsive('min-width: #{$width-tablet}') {
        flex: 1 0 50%;
        padding-right: $space-small;
    }
}

.list-anchor {
    margin-right: $space-small/2;    
    color: transparent;
    &:before {
        display: flex;
        content: '';
        background-color: $soft-red;
        width: 20px;
        height: 20px;
    }
}

.list-item .title {
    font-weight: 500;
    color: $soft-red;
}