{% assign lps = site.data.contentful.spaces.landingPages.landingPage %}
{% for lp in lps %}
{% if lp.homepage == true  %}
{% assign page = lp %}
{% assign homepage = true %}
{% endif %}
{% endfor %}
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="page-section">
  <div class="p-header">
    

    <div class="p-header-container">
      <h1 class="logo">
        {% include wordmark.html %}
        <span class="logo-text">
            <span class="logo-text-original">{{ page.title }}</span>
        </span>
      </h1>
      <h2>
        {{ page.description }}
      </h2>
      <h3>An initiative organized by {% include meedan_logo.html %}</h3>
    </div>
  </div>
  <div class="site-wrapper">
    {% if page.sections %}
    {% include render_sections.html %}
    {% endif %}
  </div>
  {% include js.html %}
</body>

</html>